// This base file will be used to load up our sassy environment
// Sets a few global variables & loads all sass modules

/* Base */
// @import "webpack-starter-kit";


/* Font Weights */
$light: 100;
$regular: 400;
$bold: 600;

/*  */
