// This base file will be used to load up our sassy environment
// Sets a few global variables & loads all sass modules

/* Base Font */
$base-font-family: "Open Sans", sans-serif;
$base-font-weight: $regular;
$base-font-size: 15px;
$base-line-height: 1.4;

/* Font Weights */
$light: 100;
$regular: 400;
$bold: 600;

/* Fixed Font */
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

/* Headings */
$header-font-weight: $bold;
