@import "base";
@import "colors";
@import "mixins";
@import "typography";
@import "variables";

.card {
  // @include center-flex();
  // flex-direction: column;
  @include rounded-corners(20px);
  width: $width-max;
  background-color: $card-background-color;
  // border: $sml-border;
  box-shadow: 7px 7px 7px #a85871;
}

.card-header {
  @include space-flex();
  background-color: $main-background-color;
  border-bottom: $sml-border;
}

.card-button {
  border: $sml-border;
  height: 27px;
  margin: 3px;
}

.card-picture {
  @include rounded-corners(20px);
  height: 211px;
  margin: 10px;
  width: $width-big;
}

.card-picture:hover {
  opacity: 0.7;
}

.card-picture:active {
  border: $lrg-border;
}

.add {
  width: $width-max;
  height: 17px;
}

.add-button {
  // background-color: blue;
  background-color: $main-background-color;
  width: $width-min;
}

.favorite {
  background-color: $main-background-color;
  background-image: url(https://image.flaticon.com/icons/svg/149/149222.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: $width-min;
}

.favorite-active {
  background-image: url(https://image.flaticon.com/icons/svg/148/148841.svg);
  background-repeat: no-repeat;
}

.all-recipe-info,
ol {
  color: $dark-text-color;
  font-size: 220%;
  width: $width-max;
}

.recipe-name {
  @include center-flex();
  color: $dark-text-color;
  height: 7vw;
  font-size: 150%;
}

.hidden {
  display: none;
}

.is-added-to-cookbook {
  background-color: $secondary-background-color;
}
