// This file will set up our color rules

/* 🎨 COLORS */
// mint: #89dfc3 RGB (137,223,195);
// lime: #ebf2af RGB (235,242,175);
// eggplant: #4b124b RGB (75,18,75);
// black: #020002 RGB (2,0,2);
// white: #ffffff RGB (255,255,255);

/* BACKGROUND COLORS */
$main-background-color: #ebf5ee;
$secondary-background-color: #37515c;
$active-background-color: #ac8dd8;
$card-background-color: #d7f2fe;
$gradient-background-color: linear-gradient(217deg, rgba(137,223,195,.8), rgba(255,0,0,0) 70.71%),
                            linear-gradient(127deg, rgba(0,255,0,.8), rgba(235,242,175,0) 70.71%),
                            linear-gradient(336deg, rgba(75,18,75,.8), rgba(255,0,0,0) 70.71%);

/* TEXT COLORS */
$text-color: #ebf5ee;

/* STATE COLORS */
$hover-color: #cff2da;
$active-color: #c3c2c6;

/* */

/* */

/* */
