// This file will set up our color rules

/* 🎨 COLORS */

/* BACKGROUND COLORS */
$main-background-color: #ebf5ee;
$secondary-background-color: #37515c;
$active-background-color: #ac8dd8;
$card-background-color: #d7f2fe;

/* TEXT COLORS */
$text-color: #ebf5ee;

/* STATE COLORS */
$hover-color: #cff2da;
$active-color: #c3c2c6;

/* */

/* */

/* */
