// This file will set up our mixin rules

/* Mixin - Rounded corners on cards */
@mixin rounded-corners($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

/* Mixin B


/* Mixin C etc. */
