// This file will set up our mixin rules

/* Mixin - Rounded corners on cards */
@mixin rounded-corners($radius) {
  -webkit-border-radius: 0 0 $radius $radius;
  -moz-border-radius: 0 0 $radius $radius;
  -ms-border-radius: 0 0 $radius $radius;
  border-radius: 0 0 $radius $radius;
}

/* Mixin - FlexBox Spaced */
@mixin space-flex() {
  display: flex;
  justify-content: space-between;
}

/* Mixin Card Display Grid */
@mixin card-grid-four() {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px 0 30px 30px;
  width: 95.5vw;
}

@mixin card-grid-three() {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px 0 30px 30px;
  width: 95.5vw;
}

@mixin card-grid-one() {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(1, 1fr);
  padding: 30px 0 30px 30px;
  width: 95.5vw;
}
