// This file will set up our mixin rules

/* Mixin - Rounded corners on cards */
@mixin rounded-corners($radius) {
  -webkit-border-radius: 0 0 $radius $radius;
  -moz-border-radius: 0 0 $radius $radius;
  -ms-border-radius: 0 0 $radius $radius;
  border-radius: 0 0 $radius $radius;
}

/* Mixin - FlexBox Spaced */
@mixin space-flex() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Mixin - Card Display Grid */
@mixin card-grid($across) {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat($across, 1fr);
  padding: 30px 0 30px 30px;
  width: 95.5vw;
}
