// This file will set up our style rules
/* Imported Files */
@import "base";
@import "cards";
@import "colors";
@import "mixins";
@import "queries";
@import "reset";
@import "typography";
@import "variables";

html {
  border: $med-border;
  height: 100vh;
}

body {
  box-sizing: border-box;
  font-family: $base-font-family;
  margin: auto;
}

main {
  background: $gradient-background-color;
  height: 100%;
  width: $width-max;
}

h1 {
  border-right: $med-border;
  font-size: 255%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  text-align: center;
  width: $width-sml;
}

h3 {
  color: $dark-text-color;
  font-size: 250%;
}

img {
  cursor: pointer;
}

.main-header {
  @include space-flex();
  background: $gradient-background-color;
  // background-color: $main-background-color;
  border: $med-border;
  height: auto;
  width: $width-max;
}

.user-info {
  font-size: 180%;
  margin: auto;
  text-align: center;
  width: $width-avg;
}

.nav-button {
  background-color: $main-background-color;
  border: $sml-border;
  font-size: 130%;
  margin: 1%;

  &.active {
    background-color: $active-background-color;
    border: none;
  }
}

.search-bar {
  display: flex;
  height: 100%;
  margin: 10px 0px 10px 0px;
  width: $width-sml;
}

.search-button {
  background-color: $main-background-color;
  border: $sml-border;
  width: $width-smol;
  height: 55px;
  margin-top: 3px;
}

.search-input {
  border: $sml-border;
  border-left: none;
  font-size: 100%;
  margin: 3px 7px 0px 0px;
  padding-left: 10px;
  width: $width-big;
}

.search-image:hover,
.card-button:hover,
.nav-button:hover,
.search-button:hover {
  background-color: $hover-color;
}

.search-image:active,
.card-button:active,
.nav-button:active,
.search-button:active {
  background-color: $active-color;
}

.all {
  grid-gap: 0px;
  grid-template-columns: repeat(1, 1fr);
  border: 1px solid lime;
}
