// This file will set up our variables
/* BORDERS */
$lrg-border: 3px solid $tertiary-color;
$med-border: 2px solid $tertiary-color;
$sml-border: 1px solid $tertiary-color;

/* WIDTH */
$width-max: 100%; // CHANGE THESE TO A MIXIN!
$width-big: 90%;
$width-avg: 40%;
$width-sml: 30%;
$width-smol: 20%;
$width-min: 13%;

/* MEDIA QUERY SELECTORS */
$mobile: 300px;
$tablet: 540px;
$laptop: 1024px;
$desktop: 1200px;
$jumbo: 1450px;
