/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: pink;
$dark: #37515C;
// $dark-border: border: 2px solid #000;

body {
  background-color: $primary-background;
}
